

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(80%);
        transform: translateX(80%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(80%);
        transform: translateX(80%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

*, :after, :before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

@font-face {
    font-family: aachenbold;
    src: url(../../dist/fonts/aachen_bold-webfont.woff2) format("woff2"), url(../../dist/fonts/aachen_bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratmedium;
    src: url(../../dist/fonts/montserrat-medium-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-medium-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratmedium_italic;
    src: url(../../dist/fonts/montserrat-mediumitalic-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-mediumitalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratregular;
    src: url(../../dist/fonts/montserrat-regular-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratsemibold;
    src: url(../../dist/fonts/montserrat-semibold-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-semibold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratsemibold_italic;
    src: url(../../dist/fonts/montserrat-semibolditalic-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-semibolditalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratthin;
    src: url(../../dist/fonts/montserrat-thin-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-thin-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratthin_italic;
    src: url(../../dist/fonts/montserrat-thinitalic-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-thinitalic-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserratbold;
    src: url(../../dist/fonts/montserrat-bold-webfont.woff2) format("woff2"), url(../../dist/fonts/montserrat-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}



.c-service-pages {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.9375rem;
    margin-right: -.9375rem
}

.c-service-page, .c-service-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.c-service-page {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 4.3125rem .9375rem;
    background-color: #112c3b;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

@media (min-width: 1024px) {
    .c-service-page {
        width: 33.3333333333%;
        padding-top: 9.8125rem;
        padding-bottom: 9.8125rem
    }
}

.c-service-page h2 {
    font-size: 1.75rem;
    color: #fff;
    text-shadow: 0 5px 0 #03153e;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (min-width: 1024px) {
    .c-service-page h2 {
        font-size: 3.5rem;
        line-height: 1.5;
    }
}

@media (max-width: 1023px) {
    .c-service-page:nth-child(2) {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff
    }
}

@media (min-width: 1024px) {
    .c-service-page:nth-child(2) {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff
    }
}

.c-service-page__inner {
    position: relative;
    z-index: 10
}

@media (min-width: 1024px) {
    .c-service-page__inner {
        transition: -webkit-transform .55s;
        transition: transform .55s;
        transition: transform .55s, -webkit-transform .55s
    }
}

@media (min-width: 1024px) {
    .c-service-page:hover .c-service-page__inner {
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%)
    }
}

.c-service-page__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 33, 105, 0.35);
    transition: background-color 1s
}

.second-column .c-service-page__overlay {
    background-color: rgba(254, 197, 38, 0.35);
}

.c-service-page:hover .c-service-page__overlay {
    background-color: transparent
}

.c-service-page .btn-one{
    color: #002169;
    font-weight: 800;
    padding: 8px 37px;
}

.second-column .btn-one{
    background: #002169;
    padding: 8px 37px;
    color: #ffffff;
}

.c-section .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}




